<h3 class="text-center text-white bg-primary">Welcome to Admin Panel</h3>

<div class="container" style="margin-top: 10rem">
    {{!-- <div class="row"> --}}
        <div class="text-center m-4">
            <a href="/admin/products"><button class="btn btn-primary ">Product Management</button></a>
        </div>
        <div class="text-center  m-4">
            <a href="/admin/users"><button class="btn btn-primary ">User Management</button></a>
        </div>
        <div class="text-center  m-4">
            <a href="/admin/category"><button class="btn btn-primary ">Category Management</button></a>
        </div>
        <div class="text-center  m-4">
            <a href="/admin/order"><button class="btn btn-primary ">Order Management</button></a>
        </div>
        {{!--
    </div> --}}
</div>